spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/canonical_db
    username: postgres
    password: root@123
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  sql:
    init:
      mode: always

  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
    packages:
      trust-all: true

  jms:
    pub-sub-domain: false

server:
  port: 8085
